/* 
    File name: about-styles.css
*/

@charset "utf-8";

/* About Us Styles */

.about_ibed {
    padding-bottom: 20px;
}

.about_ibed h3, .about_ibed p {
    padding-bottom: 5px;
    text-align: center;
}

/* Founding Organisation */

#founding_org {
    text-align: center;
}

#founding_org img {
    height: auto;
    width: 400px;
}

#founding_org p {
    padding: 10px 0;
    font-weight: bold;
}

/* Our Beginnings */

#beginnings img {
    height: auto;
    width: 800px;
}

/* Timeline */

.timeline {
    position: relative;
    min-height: 150px;
}

.line {
    position: absolute;
    z-index: 2;
    width: 2px;
    left: calc(10% - 1px);
    top: -50px;
    bottom: -50px;
    background-color: #000;
    display: none;
}

.line:before, .line:after {
    position: absolute;
    display: block;
    content: '';
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #000;
    left: 50%;
    transform: translateX(-50%)
}

.line:after {
    bottom: 0;
}

.section {
    display: flex;
    position: relative;
    opacity: 0;
    transform: translateX(-100%);
    transition: 1000ms ease;
    z-index: 1;
    margin: 50px 0;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 200px;
}

.section:nth-child(n) {
    flex-direction: row;
    transform: translateX(100%);
}

.bead {
    position: absolute;
    display: block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #000;
    left: 10%;
    top: 45%;
    transform: translateX(-50%)
}

.content {
    transform: translateX(30%);
    width: calc(70%);
    padding: 10px;
}

.content p {
    display: flex;
    align-items: center;
    margin: 0;
}

.content img {
    border-radius: 20%;
}

.show-me:nth-child(n) {
    transform: none;
    opacity: 1;
}


/* Mobile Screen */
@media (max-width: 600px) {

    #founding_org img, #beginnings img {
        height: auto;
        width: 200px;
    }

}

/* Small Computers Screen */
@media (max-width: 992px) {

    #founding_org img {
        height: auto;
        width: 300px;
    }

    #beginnings img {
        height: auto;
        width: 650px;
    }

}