@charset "utf-8";

/* Header Styles */

/* Footer Styles */

footer .footer-left {
    text-align: left;
}

footer .footer-right {
    text-align: right;
}

/* Small Computers Screen */
@media (max-width: 992px) {

    footer .footer-left, footer .footer-right {
        text-align: center;
    }

}