@charset "utf-8";

/* Header Styles */

/* Buttons Styles */

.button_link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

.button_link a {
    color: black;
    background-color: #cbffbc;
    border: 1px solid #25d366;
}

/* Footer Styles */

footer {
    background-color: rgb(204, 200, 200);
    padding: 20px 10px;
}

footer p {
    margin: 0;
}

footer .footer-left {
    text-align: left;
}

footer .footer-right {
    text-align: right;
}

/* Small Computers Screen */
@media (max-width: 992px) {

    footer .footer-left, footer .footer-right {
        text-align: center;
    }

}