/* 
    File name: livestream-styles.css
*/

@charset "utf-8";
/* Main Content Styles */

body, html {
    overflow-x: hidden;
}

section#livestream {
    margin-top: 86px;
    padding-top: 3em;
    padding-bottom: 2em;
}

section#schedule {
    padding-top: 1em;
    padding-bottom: 3em;
    background-color: #E4EEE1;
}

/* Table Styles */

thead {
    background-color: #E8A854;
}

table#mainContent {
    border-collapse: collapse;
    border-style: hidden;
}

table#mainContent th {
    vertical-align: middle;
}

table#mainContent td, table#mainContent th {
    border: 1px solid gray;
    position: relative;
}

td.divider {
    text-align: center;
    background-color: rgb(56, 56, 56);
    color: honeydew;
    padding: 8px 12px 8px 12px;
}

td.details-cell {
    padding-bottom: 0;
    vertical-align: middle;
}


/* Time Button Styles */
td.divider {
    text-align: center;
    background-color: rgb(56, 56, 56);
    color: honeydew;
    padding: 8px 12px 8px 12px;
}

div#timeButtons {
    margin-bottom: 10px;
}

div#timeButtons label {
    border:  1px solid #dee2e6;
}

div#timeButtons label.active {
    background-color: rgb(34, 34, 34);
}

/* Medium Screens */

@media (max-width: 767px) {
    div.quotes p:last-of-type {
        margin-top: 30px;
    }
}

/* Mobile Screen */
@media (max-width: 576px) {
    #livestream iframe {
        height: 200px;
        width: auto;
    }
}