/* 
    File name: schedule-styles.css
*/

@charset "utf-8";
/* Schedule Styles */

#schedule {
    padding-top: 96px;
    padding-bottom: 4em;
    background-color: #F4F6F4;
}

#schedule div.header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/background/HeaderMountain2.jpg') center bottom 60% / cover no-repeat;
    height: 40vh;
}

#schedule div.header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    font-size: 48px;
    color: #FFF;
    text-transform: uppercase;
}

#schedule #content {
    padding-top: 30px;
}

/* Table Styles */

#tableContainer {
    border-width: 2px;
    border-color: #707070;
    border-style: solid;
}

#tableContainer table.table {
    margin-bottom: 0px;
}

thead {
    background-color: #C68D8B;
    color: #fff;
}

table#mainContent {
    border-collapse: collapse;
    border-style: hidden;
}

table#mainContent td, table#mainContent th {
    border: 1px solid gray;
    position: relative;
}

table#mainContent th {
    vertical-align: middle;
}

/* Table Content Styles */

span.down-arrow {
    font-size: 30px;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.15s;
    vertical-align: top;
    margin-top: -5px;
}

span.down-arrow.flip {
    transform: rotate(180deg);
}

button.expander {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

a.linkBox {
    border-radius: 25px;
    border: 2px solid rgb(170, 170, 170);
    padding: 8px 15px 8px 15px;
    display: inline-block;
    font-weight: bold;
}

p.topic {
    margin-bottom: 0;
}

p.details {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.15s ease-in;
    margin-bottom: 0;
}

/* Time Button Styles */

td.divider {
    text-align: center;
    background-color: rgb(56, 56, 56);
    color: honeydew;
    padding: 8px 12px 8px 12px;
}

div#timeButtons {
    margin-bottom: 10px;
}

div#timeButtons label {
    cursor: pointer;
}

/* div#timeButtons label.active {
    background-color: rgb(34, 34, 34);
} */

div#timeButtons #SGl {
    background-color: #C68D8B;
    border: 2px solid #C68D8B;
}

div#timeButtons #IDl {
    background-color: #AC7274;
    border: 2px solid #AC7274;
}

div#timeButtons #LNl {
    background-color: #985D6B;
    border: 2px solid #985D6B;
}

div#timeButtons #USl {
    background-color: #694453;
    border: 2px solid #694453;
}
