/* 
    File name: speakers-styles.css
*/

@charset "utf-8";
/* Speaker Styles */

header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/speakers/HeaderMountains.jpg') center center / cover no-repeat;
    height: 40vh;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    font-size: 48px;
    color: #FFF;
    text-transform: uppercase;
}

#day1 {
    background-color: #E8F2F3;
}

#day2 {
    background-color: #F5EEE6;
}

.day_headers {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: #FFF;
    background-color: #36302A;
    text-transform: uppercase;
}

.speaker_visuals h1 {
    text-align: center;
}

.speaker_section .header h3, .speaker_section .header h5, .speaker_section .header div {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 5px 0;
}

.speaker_section .header div:before, .speaker_section .header div:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #36302A;
    margin: auto;
}

.speaker_section .header img {
    width: 100px;
    padding: 15px;
    background-color: #36302A;
    border-radius: 50%;
}

.speaker_section .row {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

hr {
    width: 100px;
    height: 1px;
    background-color: #36302A;
}

/* Speaker Cards Styles */

.cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    height: 375px;
    width: 300px;
    margin-bottom: 30px;
}

.hovereffect,
.hovereffect_no_pic {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 300px;
    height: 375px;
    background: #333534;
    border-radius: 20px;
    background: linear-gradient(145deg, #a1a1a1, #878787);
    box-shadow: 5px 5px 10px #8a8a8a, -5px -5px 10px #a2a2a2;
}

.hovereffect .overlay {
    position: absolute;
    left: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 300px;
    height: 375px;
    padding: 50px 20px;
    transform: translateY(30px);
    transition: 0.5s all;
    opacity: 0;
}

.hovereffect:hover .overlay {
    opacity: 1;
    transform: translateY(0px);
}

.hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.hovereffect_no_pic .overlay {
    position: absolute;
    left: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 300px;
    height: 375px;
    padding: 50px 20px;
    opacity: 1;
}

.hovereffect p, #no_pic p {
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
    position: relative;
    font-size: 20px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
}

.hovereffect p:after,
#no_pic p:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
}

/* Speaker Sub pages Style */

.top_section {
    background-color: #E7EEEF;
}

.speaker_visuals article {
    display: flex;
    justify-content: center;
}

.speaker_visuals img {
    padding: 0;
    margin-bottom: 10px;
    height: 360px;
    width: auto;
    border-radius: 20px;
    background: linear-gradient(145deg, #a1a1a1, #878787);
    box-shadow: 5px 5px 10px #8a8a8a, -5px -5px 10px #a2a2a2;
}

#intro_video iframe {
    margin-bottom: 10px;
    height: 360px;
    width: 600px;
    border: 0;
}

.speaker_info {
    text-align: justify;
}

.speaker_info p {
    padding: 0;
}

.speaker_name {
    font-weight: bold;
    font-size: 20px;
}

.italicise {
    font-style: italic;
}

/* Large Screen */

@media (min-width: 1700px) {
    #intro_video iframe {
        height: 360px;
        width: 760px;
    }
}

@media (max-width: 576px) {
    #intro_video iframe {
        height: 200px;
        width: auto;
        padding-top: 20px;
    }
}

/* Galaxy Fold Screen */

@media (max-width: 280px) {
    .speaker_visuals h1 {
        font-size: 30px;
    }
    .speaker_visuals img {
        height: 260px;
    }
}